<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDee_Ub5p_lQ_KDe39FlXbEzXu8K4Q8aLM</string>
	<key>GCM_SENDER_ID</key>
	<string>84667725026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lyr.dr1n4st4rpro</string>
	<key>PROJECT_ID</key>
	<string>app369-b6fa2</string>
	<key>STORAGE_BUCKET</key>
	<string>app369-b6fa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84667725026:ios:c632722974eadace069abb</string>
</dict>
</plist>